@import (inline) "font/fontello.css";
@import "mixins.less";
@import "variables.less";

input[type=checkbox]:not(:checked) + .checkmark {
    visibility: hidden;
}

input[type=checkbox]:checked + .checkmark {
    visibility: visible;
}

#hero-panel {
    width: 250px;
    display: inline-block;
    vertical-align:top;
}

/* Header overrides */
header {
    .logo {
        line-height: 1.5;
    }

    a.button {
        vertical-align: initial;
    }
}

/* Hero Box */
.hbox {
    display: inline-block;
    vertical-align: top;
    position: relative;

    .hlist {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 10px;
    }

    .himg {
        min-width: 95px;
        max-width: 200px;
    }
}

/* Calc Box */
.cnest {
    text-align: center;

    button {
        vertical-align: top;
        position: absolute;
        top: 0;
        left: 0;
    }

    .citem {
        position: relative;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .checkmark {
            .border-radius(19%);
            position: absolute;
            display: inline-block;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            padding-top: 23%;
            z-index: 10;
            cursor: pointer;
            margin: 10px 10px 16px 10px;

            i {
                font-size: 2rem;
            }
        }
    }

    .fodder {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        & > * {
            max-width: 30%;
        }
        /*.hero .himg {
            max-width: 30%;
        }*/
    }

    .himg {
        min-width: 95px;
        max-width: 200px;
    }
}

/* Shaded element */
.shade {
    background: rgba(0, 0, 0, .5);
}

/* Individual Hero Image */
.hero {
    position: relative;
    display: inline-block;
    transition: all @transition-time;
    padding: 10px;
    cursor: pointer;

    .star {
        position: absolute;
        z-index: 2;
        bottom: 12%;

        &.h9 {
            height: 22%;
        }

        &.h5 {
            height: 18%;
        }
    }

    &.s9 > .stars > img {
        &:nth-last-of-type(1) {
            left: 23%;
        }

        &:nth-last-of-type(2) {
            left: 33%;
        }

        &:nth-last-of-type(3) {
            left: 43%;
        }

        &:nth-last-of-type(4) {
            left: 53%;
        }
    }

    &.s8 > .stars > img {
        &:nth-last-of-type(1) {
            left: 30%;
        }

        &:nth-last-of-type(2) {
            left: 41%;
        }

        &:nth-last-of-type(3) {
            left: 52%;
        }
    }

    &.s7 > .stars > img {
        &:nth-last-of-type(1) {
            left: 33%;
        }

        &:nth-last-of-type(2) {
            left: 47%;
        }
    }

    &.s6 > .stars > img {
        left: 40%;
    }

    &.s5 > .stars > img {
        &:nth-last-of-type(1) {
            left: 18%;
        }

        &:nth-last-of-type(2) {
            left: 29.5%;
        }

        &:nth-last-of-type(3) {
            left: 41%;
        }

        &:nth-last-of-type(4) {
            left: 52.5%;
        }

        &:nth-last-of-type(5) {
            left: 64%;
        }
    }

    &.s4 > .stars > img {
        &:nth-last-of-type(1) {
            left: 23%;
        }

        &:nth-last-of-type(2) {
            left: 35%;
        }

        &:nth-last-of-type(3) {
            left: 47%;
        }

        &:nth-last-of-type(4) {
            left: 59%;
        }
    }

    &.s3 > .stars > img {
        &:nth-last-of-type(1) {
            left: 30%;
        }

        &:nth-last-of-type(2) {
            left: 41%;
        }

        &:nth-last-of-type(3) {
            left: 52%;
        }
    }

    .himg {
        width: 100%;
    }
}

.hcount {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: @bg-navy-light;
    min-width: 25px;
    text-align: center;
}

.heroes {
    position: relative;
}

/* Calculation amount display */
.calchead {
    position: sticky;
    top: 40px;
    z-index: 20;

    & > * {
        z-index: 1102;
        font-weight: bolder;
        display: inline-block;
        height: 55px;
        min-width: 55px;
        margin-top: 8px;
    }
}

/* Filter Box */
.flist {
    .user-select(none);
    list-style-type: none;

    .checkmark {
        margin-left: -27px;
    }

    .fseperator {
        height: 6px;
        margin-bottom: 5px;
        border-bottom: 2px solid @bg-navy;
    }

    .fitem:hover {
        background-color: rgba(255, 255, 255, .1);
    }

    .fitem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3px 33px;
        vertical-align: middle;
        margin-left: -33px;

        * {
            cursor: pointer;
            color: @nav-text;
        }

        .fimg {
            width: 20px;
            position: relative;
            top: 3px;
        }
    }
}

.calcagg {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0 auto;

    .calcamt {
        width: 55px;
        height: 55px;
        padding: 2px;
        display: inline-block;
        position: relative;
    }

    .hero {
        width: 59px;
        height: 59px;
        display: inline-block;
        padding: 1px;

        .star {
            bottom: 7%;
        }

        .himg {
            width: 100%;
            height: 100%;
        }
    }
}

.calcamt {
    &.spirit {
        background: url(https://vignette.wikia.nocookie.net/idleheroes/images/1/18/Spirit-icon.png/revision/latest) center no-repeat/55px;
    }

    &.gold {
        background: url(https://vignette.wikia.nocookie.net/idleheroes/images/0/0d/Gold-icon.png/revision/latest) center no-repeat/55px;
    }

    &.stones {
        background: url(https://vignette.wikia.nocookie.net/idleheroes/images/2/26/Hero_Promotion_Stone-icon.png/revision/latest) center no-repeat/55px;
    }
}

.bgfade {
    position: absolute;
    height: 300px;
    width: 100%;
    background: linear-gradient(@bg-head, @bg-navy);
}

.stickyHeader {
    position: sticky;
    top: 6px;
    z-index: 1102;
    text-transform: uppercase;
    margin: 0 auto;
    color: @color-head;
}

.cursor-default {
    cursor: default !important;
}

[v-cloak] {
    display: none;
}

.hlist-enter-active, .hlist-leave-active,
.clist-enter-active, .clist-leave-active,
.fdrawer-enter-active, .fdrawer-leave-active {
    transition: all @transition-time;
}

.hlist-enter, .hlist-leave-to,
.clist-enter, .clist-leave-to,
.fdrawer-enter, .fdrawer-leave-to {
    opacity: 0;
    transform: translateY(30px);
}

.hlist-move, .clist-move, .fdrawer-move {
    transition: transform @transition-time;
}

label.drawer-modal {
    position: absolute;
}

input[type=checkbox]:checked + .drawer + label.drawer-modal > .modal {
    display: block;
    z-index: 20;
}

/* Desktop (lg) */
@media screen and (min-width: 1280px) {
    .hbox {
        width: ~"calc(100% - 300px)";

        .hlist {
            padding: 0 50px;

            .hero {
                width: 20%;
                max-width: 200px;

                .himg {
                    border-radius: 40px;
                }
            }
        }
    }
    nav.sticky {
        position: sticky !important;
    }
}

/* Device (md) */
@media screen and (min-width: 768px) and (max-width: 1279px) {
    .hbox {
        width: ~"calc(100% - 300px)";

        .hlist {
            padding: 0 20px;

            .hero {
                width: 22%;

                .himg {
                    border-radius: 33px;
                }
            }
        }
    }
    nav.sticky {
        position: sticky !important;
    }
}

/* Device (sm) */
@media screen and (max-width: 767px) {
    .flist .fitem {
        padding-top: 0;
    }
    
    .hbox {
        .hlist {
            padding: 0;

            .hero {
                width: 30%;
                padding: 5px;

                .himg {
                    padding: 2px;
                    border-radius: 20px;
                }
            }
        }
    }
}