@{
    ViewData["Title"] = "Fusion Calculator";
}
@section topnav {
<label class="button icon-filter hidden-lg hidden-md" style="float:right" for="filter-toggle">
</label>
}
<input type="checkbox" class="nav-toggle" id="filter-toggle">
<nav id="hero-panel" class="drawer sticky right">
    <label class="close" for="filter-toggle">
    </label>
    <fusion-panel :factions="factions" :roles="roles" :filter="filter" :heroChange="heroChange" :fodder="displayFodder"></fusion-panel>
</nav>
<label class="drawer-modal" for="filter-toggle">
    <span class="modal"></span>
</label>

<div id="heroes" class="hbox">
    <div class="hlist" v-if="showList" v-cloak>
        <div class="stickyHeader"><h2>Select a hero</h2></div>
        <transition-group name="hlist" tag="span">
            <hero-item v-for="hero in heroes" @@click.native="heroClick(hero)" :showCount="0" :hero="hero" :key="hero.name + '-' + hero.stars"></hero-item>
        </transition-group>
    </div>
    <div class="cnest" v-if="showCalc" v-cloak>
        <div class="calchead">
            <button @@click="clearSelected"><i class="icon-left-big"></i></button>
        </div>
        <div>
            <hero-item :hero="selectedHero" :showCount="0" class="cursor-default"></hero-item>
        </div>
        <agg-list :spirit="spirit" :gold="gold" :stones="stones" :aggregates="aggregates"></agg-list>
    </div>
</div>