@{
    ViewData["Title"] = "Fusion";
}
@section topnav {
<label class="button icon-filter hidden-lg hidden-md" style="float:right" for="filter-toggle">
    <span class="modal"></span>
</label>
}
<input type="checkbox" class="nav-toggle" id="filter-toggle">
<nav id="filter-drawer" class="drawer sticky right">
    <label class="close" for="filter-toggle">
    </label>
    <h4><i class="icon-filter"></i>FUSION FILTERS</h4>
    <div id="filters" class="flist">
        <filter-items :factions="factions" :roles="roles" :filter="filter" :min-stars="5" :max-stars="10"></filter-items>
    </div>
</nav>
<div id="heroes" class="hbox">
    <div class="hlist" v-if="!heroSelected" v-cloak>
        <transition-group name="hlist" tag="p">
            <hero-item v-for="hero in heroes" @@click.native="heroClick" :hero="hero" :key="hero.name + '-' + hero.stars"></hero-item>
        </transition-group>
    </div>
    <div class="cnest" v-if="heroSelected" v-cloak>
        <button @@click="heroSelected = false">Back</button>
        <calc-item :hero="selectedHero" :first="true"></calc-item>
    </div>
</div>