<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Idle Heroes Calculator</title>
    <base href="~/" />

    @*css content for development*@
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/mini-dark-2.3.7.css" />
        <script src="~/dist/styles.js" asp-append-version="true"></script>
    </environment>
    @*css content for production*@
    <environment exclude="Development">
        <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-dark.min.css"
              asp-fallback-href="~/lib/mini-dark-2.3.7.css"
              asp-fallback-test-class="hidden"
              asp-fallback-test-property="display"
              asp-fallback-test-value="none">
        <link rel="stylesheet" type="text/css" href="~/dist/styles.css" asp-append-version="true" />
    </environment>

    @RenderSection("head", false)
</head>
<body>
    <header class="sticky">
        <label class="drawer-toggle button" for="navigation-toggle"></label>
        <a href="~/" class="logo hidden-sm">Idle Heroes Calculator</a>
        <a href="~/" class="logo hidden-md hidden-lg">Calculator</a>
        <a href="~/fusion" class="button hidden-sm">Fusion</a>
        <a href="~/api" class="button hidden-sm" target="_blank">Api</a>
        <a href="https://github.com/wpatter6/IdleHeroesCalculator" target="_blank" class="button hidden-sm">Github</a>
        @RenderSection("topnav", false)
    </header>
    <input type="checkbox" id="navigation-toggle">
    <nav class="drawer hidden-md hidden-lg">
        <label class="close" for="navigation-toggle"></label>
        <h4>Idle Heroes Calculator</h4>
        <ul class="flist">
            <li class="fitem">
                <a href="~/fusion">Fusion</a>
            </li>
            <li class="fitem">
                <a href="~/api" target="_blank">Api</a>
            </li>
            <li class="fitem">
                <a href="https://github.com/wpatter6/IdleHeroesCalculator" target="_blank">Github</a>
            </li>
        </ul>
    </nav>
    @RenderBody()
    @*js content for development*@
    <environment include="Development">
        <script src="~/lib/vue-2.5.13.js"></script>
        <script src="~/dist/scripts.js" asp-append-version="true"></script>
    </environment>
    @*js content for production*@
    <environment exclude="Development">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"
                asp-fallback-src="~/lib/vue-2.5.13.js"
                asp-fallback-test="window.Vue"></script>
        <script src="~/dist/scripts.js" asp-append-version="true"></script>
    </environment>
</body>
</html>