<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Idle Heroes Calculator</title>
    <base href="~/" />
    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-dark.min.css">

    @*css content for development*@
    <environment include="Development">
        <script src="~/dist/styles.js" asp-append-version="true"></script>
    </environment>
    @*css content for production*@
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="~/dist/styles.css" asp-append-version="true" />
    </environment>

    @RenderSection("head", false)
</head>
<body>
    <header class="sticky">
        <label class="drawer-toggle button" for="navigation-toggle"></label>
        <a href="~/" class="logo">Idle Heroes Calculator</a>
        <a href="~/fusion" class="button hidden-sm">Fusion</a>
        <a href="~/api" class="button hidden-sm">Api</a>
        @RenderSection("topnav", false)
    </header>
    <input type="checkbox" id="navigation-toggle">
    <nav class="drawer hidden-md hidden-lg">
        <label class="close" for="navigation-toggle"></label>
        <div class="button-group">
            <a href="~/fusion">Fusion</a>
        </div>
        <div class="button-group">
            <a href="~/api">Api</a>
        </div>
    </nav>
    <span id="test">{{message}}</span>
    @RenderBody()
    @*js content for development*@
    <environment include="Development">
        <script src="~/lib/vue-2.5.13.js"></script>
        <script src="~/dist/scripts.js" asp-append-version="true"></script>
    </environment>
    @*js content for production*@
    <environment exclude="Development">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"
                asp-fallback-src="~/lib/vue-2.5.13.js"
                asp-fallback-test="window.Vue"></script>
        <script src="~/dist/scripts.js" asp-append-version="true"></script>
    </environment>
</body>
</html>